#e8f0f0@font-face {
    font-family: 'Circular Book';
    src: url('/assets/fonts/circular_book.ttf') format('truetype'), 
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/circular_medium.ttf') format('truetype'), 
}

@font-face {
    font-family: 'Circular Bold';
    src: url('/assets/fonts/circular_bold.ttf') format('truetype'), 
}

h1, h2, h3, h4, h5 {
    font-family: 'Circular', Fallback, sans-serif;
    color: #1f3149;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

p, textarea {
    font-family: 'Circular Book', Fallback, sans-serif;
    font-size: 14px;
    color: #7b72a9;
    margin-block-start: 10px;
    margin-block-end: 0px;
    line-height: 2.3;
}

li a {
    font-family: 'Circular', Fallback, sans-serif;
    color: #a1a1a1;
    text-decoration: none;
}

li a:hover {
    color: #1f3149;
}

a {
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.main-container {
    display: inline-flex;
    width: 100%;
    min-height: 100%;
}

.main-column {
    background-color: #f1f1f1;
    margin-left: 35%;
    width: 50%;
    padding-right: 15%;
    margin-block-start: 64px;
}

.main-column-call {
    padding-right: 0px;
    width: 100%;
}

.main-col-container {
    width: 100%;
    margin: 30px;
}

.row-container {
    display: inline-flex;
    width: 100%;
    margin: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Sidebar */

.sidebar {
    background-color: #f8f8f8;
    width: 20%;
    height: 100%;
    padding-left: 15%;
    position: fixed;
    z-index: 1;
}

.sidebar-container {
    width: 85%;
    margin: 10px;
    margin-block-start: 104px;
}

.sidebar-container p {
    text-align: justify;
    line-height: 1.8;
}

.sidebar-ul {
    list-style-type: none;
    padding-left: 0px;
    width: 50%;
}

.sidebar-li {
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.sidebar-li a {
    font-size: 18px;
    display: block;
}

.sidebar-active { 
    color: #6a68fa;
}

.lesson-title-img {
    width: 256px;
    margin-block-end: 30px;
}

.sidebar {
    widht: 40%;
}

.navbar {
    height: 94px;
}

.navbar-li {
    list-style: none;
}
.navbar-li img{
    height: 90px;
}

.logo{
    height: 50px;
}