@font-face {
    font-family: 'Circular Book';
    src: url('/assets/fonts/circular_book.ttf') format('truetype'), 
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/circular_medium.ttf') format('truetype'), 
}

@font-face {
    font-family: 'Circular Bold';
    src: url('/assets/fonts/circular_bold.ttf') format('truetype'), 
}

h1, h2, h3 {
    font-family: 'Circular', Fallback, sans-serif;
    color: #3c3c72;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

h4, h5 {
    font-family: 'Circular', Fallback, sans-serif;
    color: #8f8ccf;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

p, textarea {
    font-family: 'Circular Book', Fallback, sans-serif;
    font-size: 14px;
    color: #8f8ccf;
    margin-block-start: 10px;
    margin-block-end: 0px;
    line-height: 2.3;
}

li a {
    font-family: 'Circular', Fallback, sans-serif;
    color: #a1a1a1;
    text-decoration: none;
}

li a:hover {
    color: #1f3149;
}

a {
    text-decoration: none;
}

html, body, #root, #root>div {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}

.container {
    height: 100%;
    min-height: 100%;
}

.main-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.main-column {
    margin-left: 35%;
    min-height: 100%;
    width: 50%;
    padding-top: 64px;
    padding-right: 15%;
    background-color: #fcebea;
    background-attachment: fixed;
    position: absolute;
}

.main-column-call {
    padding-right: 0px;
    width: 100%;
}

.main-col-container {
    width: 100%;
    margin: 30px;
}

.main-col-container-practice {
    width: 50%;
    margin: 30px;
}

.row-container {
    display: inline-flex;
    width: 100%;
    margin: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Sidebar */

.sidebar {
    background-color: #eecfcd;
    width: 20%;
    height: 100%;
    padding-left: 15%;
    position: fixed;
    z-index: 1;
}

.sidebar-container {
    width: 85%;
    margin: 10px;
    margin-block-start: 104px;
}

.sidebar-container p {
    text-align: justify;
    line-height: 1.8;
}

.sidebar-ul {
    list-style-type: none;
    padding-left: 0px;
    width: 50%;
}

.sidebar-li {
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.sidebar-li a {
    font-size: 18px;
    display: block;
}

.sidebar-active { 
    color: #7b72a9;
}

.lesson-title-img {
    width: 256px;
    margin-block-end: 30px;
}

.sidebar {
    widht: 40%;
}

/*Navbar*/

#navbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    background-color: #f4cfcd;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 2;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    height: 40px;
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.icon {
    height: 22px;
}

.navbar-li {
    float: left;
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.navbar-li a {
    font-size: 12px;
    display: block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    margin-left: 4vw;
    margin-right: 2vw;
}

.navbar-ic {
    float: left;
    margin-block-end: 5px;
    margin-block-start: 5px;
    opacity: 0.4;
}

.navbar-ic a {
    font-size: 12px;
    display: block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    margin-left: 1vw;
}

.navbar-li a:hover {
    color: #3c3c72;
}

.active{
    color: #3c3c72;
}

/*Card*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 800px;
    height: auto;
    background-color: #f9eeed;
    margin-block-end: 30px;
    display: inline-flex;
}

.card-container{
    display: inline-flex;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-container {
    border-radius: 5px; /* 5px rounded corners */
    width: 150px;
    min-height: 195px;
    margin: 10px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    float: right;
}

.card-img-container img{
    height: 120px;
    margin: 10px;
}

.card-text-container{
    min-width: 560px;
    min-height: 195px;
    display: block;
    margin: 15px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-block-end: 30px;
    text-align:justify;
    position: relative;
}

.lesson-info {
    display: inline-flex;
    min-width: 560px;
    position: absolute;
    bottom: 0;
}

.lectures {
    color: #acacac;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
}

.dot-info {
    color: #acacac;
    font-size: 12px;
    margin-right: 15px;
}

.curr-participants {
    color: #acacac;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
}

/*Button*/

.create-button {
    font-family: 'Circular Book', Fallback, sans-serif;
    font-size: 14px;
    border: 2px solid #8f8ccf;
    background-color: #f9eeed;
    color: #7b72a9;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.start-button {
    font-family: 'Circular Book', Fallback, sans-serif;
    font-size: 14px;
    border: 2px solid #3c3c72;
    background-color: #f9eeed;
    color: #7b72a9;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.profile-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}


/* Small Card */

.card-small {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 320px;
    height: 350px;
    background-color: #f9eeed;
    margin: 30px;
    display: block;
}

.card-small:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #7b72a9;
    margin: 30px;
}

.card-small-image {
    width: 220px;
    height: 220px;
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 45px;
}

.card-small-image-container {
    background-color: #7b72a9;
    height: 75%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-small-text-container {
    height: 40%;
    width: 100%;
    padding: 10px;
}

.card-small-text-container h3 {
    margin: 10px;
    margin-block-end: 5px;
}

.card-small-text-container p {
    margin: 10px;
    line-height: 1.8;
    text-align: justify;
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #7b72a9;
    margin-right: 50px;
}

.analyze {
    color: #ffffff;
}

.analyze-container {
    border-radius: 5px; /* 5px rounded corners */
    width: 150px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

.analyze-text {
    min-width: 560px;
    display: block;
    margin: 15px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:justify;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

/*textarea*/

.textarea-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 800px;
    height: auto;
    background-color: #f9eeed;
    margin-block-end: 30px;
    display: block;
    padding: 20px;
} 

.textarea-card textarea{
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 97%;
}

.textarea-card textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    color: #000000;
}

/*Signin*/

.signin-page {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.signin-page img{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.form-box{
    margin-top: 32vh;
}

.input-box{
    font-family: 'Circular Book', Fallback, sans-serif;
    border: none;
    background-color:	#f9f9f9;   
    margin: 1.8vh;
    width: 360px;
    padding: 10px 10px;
    font-size: 14px;
}

.input-box:focus{
    outline: none;
}

.sign{
    margin-top: 11vh;
    border: none;
    background-color: 	#86D4C2;  
    width: 200px;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.pointer{
    cursor: pointer;
}

/* Dashboard */

.dashboard h1 {
    font-size: 3em;
}

@media only screen and (max-width: 670px) {
    .dashboard h1 {
        font-size: 2em;
    }
}
/* Home */

.sectionStyle {
    margin: 0;
    height: auto;
    width: 100%;
}
.home {
    background-color: #F7E2E1;
    height: 100vh;
}
.logoStyle {
    height: 3em;
}
.menu {
    display:flex;
    position: absolute;
    top: 0;
    justify-content: space-around;
    padding: 1em 0;
    align-items: center;
}
.signin-button {
    padding: 0.1em 2em;
    border-radius: 10px;
    border: 2px solid #3c3c72;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.stripe {
    width: 15px;
    height: auto;
    background-color: #3c3c72;
}
.content > div{
    flex: 1;
}
.title {
    display: flex;
    padding-left: 10vw;
}
.content img {
    width: 100%;
}
.join-button {
    background-color: #b1aad4;
    padding: 0 2em;
    border-radius: 2em;
    display: inline-block;
}
.home p {
    margin: 0;
    font-weight: bold;
    color: #3c3c72;
}
.join-button p {
    font-size: 1.5em;
}
.content-stripe {
    padding: 1em;
    max-width: 630px;
}
.home h1 {
    font-size: 5em;
}
@media only screen and (max-width: 1400px) {
    .home h1 {
        font-size: 4.5em;
    }
    .title {
        padding-left: 8vw; 
    }
}
@media only screen and (max-width: 750px) {
    div.image-container {
        flex: 0;
    }
    .title {
        padding-left: 10vw; 
    }
    .home h1 {
        font-size: 4.5em;
    }
    .content-stripe {
        max-width: 550px;
    }
}
@media only screen and (max-width: 600px) {
    .home h1 {
        font-size: 4em;
    }
}
@media only screen and (max-width: 400px) {
    .home h1 {
        font-size: 3.5em;
    }
}

/* Feature */

.feature {
    background-color: #f9eeed;
    padding: 7em 0;
}
.feature img {
    height: 480px;
    width: auto;
    margin: -8em -5em;
    z-index: 4;
}
.feature.center {
    flex-direction: column;
}
.feature-content {
    padding-top: 6em;
}
.feature-content > div {
    display: flex;
    padding: 4em 0;
}
.feature-box {
    border: 10px solid #F7E2E1;
    width: 410px;
    padding: 1em 1em 1em 5em;
    align-items: normal;
    flex-direction: column;
}
.feature-box i {
    margin-left: 5px;
}
.feature-box a {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.feature-box a p {
    color: #acacac;
}
.right .feature-box {
    padding: 1em 5em 1em 1em;
    text-align: right;
}
@media only screen and (max-width: 840px) {
    .feature img {
        height: 380px;
        margin: -5em -6em;
    }
    .feature-box {
        width: 300px;
        padding: 0 1em 0 5em;
    }
    .feature-box p {
        line-height: 1.5;
    }
    .feature-content > div {
        padding: 3em 0;
    }
}
@media only screen and (max-width: 670px) {
    .feature-content > div {
        flex-direction: column;
        padding: 1em 0;
        align-items: center;
    }
    .feature-content div.right {
        flex-direction: column-reverse;
    }
    .feature img {
        height: 480px;
        width: 300px;
        margin: 0;
    }
    .feature-content {
        padding: 0;
    }
    .feature-box, .right .feature-box {
        padding: 1em 2em;
        text-align: left;
    }
}
@media only screen and (max-width: 430px) {
    .feature img {
        height: 380px;
        width: 237px;
    }
    .feature-box, .right .feature-box {
        padding: 0.7em 1.5em;
        width: 250px;
    }
}
@media only screen and (max-width: 370px) {
    .feature-box, .right .feature-box {
        width: 200px;
    }
}